<%-contentFor('providedcss')%>
<link href="/stylesheets/home.css" rel="stylesheet">
<%-contentFor('body')%>
<div class="container">
	<div class="jumbotron">
            <h1>YouCollabTube</h1>
            </br>
            <p>Watch youtube videos together. </p>
            </br>
            <p>
              <a href="/rooms/new" class="btn btn-lg btn-primary">Create Room</a>
              <a href="/rooms" class="btn btn-lg btn-primary">Browse Rooms</a>
            </p>
    </div>
</div>
 


