<!DOCTYPE html>
<html>
  <body>
    <form method="post" action="/rooms/create">
      <label for="Rname">Enter room name</label>
      <input id="Rname" name="name" placeholder="Enter room name"/>
      <button type="submit" value="Enter video link">Enter video link</button>
    </form>
  </body>
</html>

